
<br><br><br><br>
<div class="container">
    <div class="title">
        <h2>Treatement booking form</h2>
    </div>
  <div class="d-flex">
    <form action="" method="">
      <label>
        <span class="fname">First Name <span class="required">*</span></span>
        <input type="text" name="fname">
      </label>
      <label>
        <span class="lname">Last Name <span class="required">*</span></span>
        <input type="text" name="lname">
      </label>
      <label>
        <span>Company Name (Optional)</span>
        <input type="text" name="cn">
      </label>
      <label>
        <span>State <span class="required">*</span></span>
        <select name="selection">
          <option value="select">Select a State...</option>
          <option value="AFG">Kerala</option>
          <option value="ALA">Bangalore</option>
          <option value="ALB">Pune</option>
          <option value="DZA">Hyderbad</option>
          <option value="ASM">Chennai</option>
        
        </select>
      </label>
      <label>
        <span>Street Address <span class="required">*</span></span>
        <input type="text" name="houseadd" placeholder="House number and street name" required>
      </label>
      <label>
        <span>&nbsp;</span>
        <input type="text" name="apartment" placeholder="Apartment, suite, unit etc. (optional)">
      </label>
      <label>
        <span>Town / City <span class="required">*</span></span>
        <input type="text" name="city"> 
      </label>
      <label>
        <span>State / County <span class="required">*</span></span>
        <input type="text" name="city"> 
      </label>
      <label>
        <span>Postcode / ZIP <span class="required">*</span></span>
        <input type="text" name="city"> 
      </label>
      <label>
        <span>Phone <span class="required">*</span></span>
        <input type="tel" name="city"> 
      </label>
      <label>
        <span>Email Address <span class="required">*</span></span>
        <input type="email" name="city"> 
      </label>
    </form>
    <div class="Yorder">
      <table>
        <tr>
          <th colspan="2">Your Booking</th>
        </tr>
        <tr>
          <td>MEDICARE</td>
          <td>KERALA | PUNE | BANGALORE | CHENNAI</td>
        </tr>
        
      
      </table><br>
      <div>
        <input type="radio" name="dbt" value="dbt" checked> Direct Bank Transfer
      </div>
      <p>
          Make your payment directly into our bank account. Please use your booking ID as the payment reference.
      </p>
      <div>
        <input type="radio" name="dbt" value="cd"> payment
      </div>
      <div>
        <!-- <input type="radio" name="dbt" value="cd"> Paypal <span>
        <img src="checkout.jpg" alt="" width="50">
        </span> -->
      </div>
      <button type="button" >Confirm Booking</button>
      <button onclick="showAlert()">Show alert</button>
      <!-- <div ng-click = "alert('We Will Conatct You Soon !')">Place order</div> -->
    </div><!-- Yorder -->
   </div>
  </div>

